/**
* Author: Ryan Deonarine
* Date Made: 06/05/2020
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.error{
	color:#990000;
}

.sincerely{
	color:#d60e17;
	border-color:#d60e17;
}

.btn:hover{
	background:#d60e17 !important;
}

.comment-image{
	width:50px;
	height:50px;
}

/*This is for the messaging screen so the messages are scrollable.*/
.scroll{
	overflow-y: scroll; height:400px; background: #545454; padding-top:10px;
}

/* mouse over link */
a:hover {
  color: #990000;
}

.iconColor{
	 color: #990000;
}

.padding{
	padding:20px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height:300%;
}

.wrapword {
  width: 100%;
  -ms-word-break: break-all;
  word-break: break-all;
  white-space: pre-wrap
}